[submodule "ares-iq-extensions/extern/pybind11"]
	path = ares-iq-extensions/extern/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "ares-iq-extensions/extern/uhd"]
	path = ares-iq-extensions/extern/uhd
	url = https://github.com/deep-spectrum/uhd.git
	branch = UHD-4.9
[submodule "ares-iq-extensions/extern/ares-common"]
	path = ares-iq-extensions/extern/ares-common
	url = https://github.com/deep-spectrum/ares-common.git
